.app__techstack{
    padding-left: 4rem;
    padding-right: 8rem;
    margin-top: 8rem;
    margin-bottom: 2rem;
}

.app__techstack-categories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
}

@media screen and (max-width: 950px) {
    .app__techstack-categories{
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }

}

@media screen and (min-width: 1500px) {
    .app__techstack-categories{
        margin-right: 30vw;
    }
}

@media screen and (min-width: 2200px) {
    .app__techstack-categories{
        margin-right: 40vw;
    }
}