.app__footer{
    margin-top: auto;
    padding-top: 8rem; 
    margin-bottom: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.app__footer img{
    width: 50px;
    height: auto
}

.app__footer h1{
    font-family: var(--font-base);
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 1.5rem;
    color: var(--color-white);
    margin: 0;
}

.app__footer p{
    color: var(--color-oxfordblue);
    font-family: var(--font-base);
    font-weight: 600;
}
.app__footer-links{
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}
.app__footer-links_seperator {
    margin: 0 10px;
}
.app__footer-links_link{
    color: var(--color-oxfordblue);
    font-family: var(--font-base);
    font-weight: 500;
}

.app__footer-icons{
    margin-top: 1rem;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.app__footer-icons img{
    width: 35px;
    cursor: pointer;
}
